<template lang="pug">
div
    h1 {{greeting}}
    input(type="text" v-model="greeting")
</template>

<style lang="sass">
h1
    font-family: monospace
</style>

<script lang="ts">
export default {
    data: function() {
        return {
            greeting: "Hello, World!"
        };
    }
};
</script>
